.wrap{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../../assets/img/1.jpg);
    padding-top: 10rem;
}
.My_content{
    padding: 2rem;
    max-width: 50%;
    margin: 0 auto;
    color: black;
    background-image: linear-gradient(rgba(255, 255, 255, 0.64), rgba(255, 255, 255, 0.58));
}
